<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	>

	<!-- Custom styles for this template -->
	<link href="grid.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Latest compiled and minified JavaScripts -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<!-- Deployd -->
	<script type="text/javascript" src="dpd.js"></script>
	<!-- App -->
	<script src='client.js'></script>

	<title>sf-chat</title>

</head>
<body>
	<div ng-app='chatApp' class='container'>
		<div ng-controller='history'>
		  <h2>{{title}}</h2>
			<ul><li ng-repeat="message in messages">
				<strong>{{message.owner}}: </strong>
				{{message.text}}
			</li></ul>
			<form ng-submit="addMessage(newMessage)">
				<input ng-model="newMessage" type="text" />
				<button type='submit'>send</button>
		  </form>
		</div>
	</div>

</body>
</html>
